header{
    font-size: 35pt;
    text-align: center;
}
h2{
    font-size: 20pt;
    text-align: center;
}
table.total{
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    color: #5d5bf3;
}
table.items{
    margin-left: auto;
    margin-right: auto;
}
.items td, .items tr{
    border: 1px solid black;
    width: 25%;
}
td img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span{
    color:red;
}